@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'variables';
@import 'frameworks/frameworks';
@import 'theme';
@import 'typography';
@import 'mixins';
@import 'components/cube';

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
}

main {
  display: block;
  padding: 20px;
}

app-root {
  @include position(absolute, 0px 0px 0px 0px);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-body {
  flex-grow: 1;

  .mat-sidenav-content {
    @include position(absolute, null 0px null 0px);
  }
}

.side-nav {
  width: 200px;
}

.main-content {
  @include position(absolute, null 0px null 0px);
}