@import '~@angular/material/theming';

@include mat-core();

$portfolio-app-primary: mat-palette($mat-cyan);
$portfolio-app-accent: mat-palette($mat-amber);

$portfolio-app-theme: mat-light-theme($portfolio-app-primary, $portfolio-app-accent);

@include angular-material-theme($portfolio-app-theme);
