$cube-size-desktop: 600px;
$cube-size-tablet: 400px;
$cube-size-mobile: 200px;
$cube-control-size: 40px;
$intro-rotation: rotateY(0deg);
$description-rotation: rotateX(-90deg);
$skillset-rotation: rotateX(-90deg) rotateY(-90deg);
$works-rotation: rotateX(-90deg) rotateY(90deg);
$contact-rotation: rotateX(90deg) rotateZ(-180deg);
$nothing-rotation: rotateX(180deg);

.cube-container {
  position: relative;
}

.cube-control {
  display: none;
}

.cube-side {
  @include size($cube-size-mobile);
  align-items: center;
  display: flex;
  border: 1px solid black;
  background: white;
  border-collapse: collapse;
  //opacity: 0.9;
  padding: 10px;

  @include screenAboveMobile {
    padding: 20px;
  }

  &__content {
    flex-grow: 1;

    p {
      margin: 0;
    }
  }

  &__intro {
    text-align: right;
    align-items: flex-end;

  }

  &__nothing {
    display: none;
  }
}

.no-csstransform, .no-preserve3d, .no-csstransitions {
  .cube-container {
    width: $cube-size-mobile;
    margin: auto;
  }

  @include screenAboveMobile {
    .cube-side {
      &__intro, &__description {
        border-bottom: none;
      }

      &__skillset {
        @include position(absolute, $cube-size-mobile null null 100%);
        border-left: none;
        height: $cube-size-mobile + 1px;
      }

      &__works {
        @include position(absolute, null 100% 0px null);
        border-right: none;
      }
    }
  }
}

.csstransforms3d.preserve3d.csstransitions {
  .cube-container {
    @include size($cube-size-mobile);
    cursor: pointer;
    margin: auto;
    padding: 50px 0;
    perspective: 1750px;
    user-select: none;

    @include screenAboveTablet {
      @include size($cube-size-desktop);
      margin-top: 130px;
    }
    @include screenTablet {
      @include size($cube-size-tablet);
    }
  }

  .cube-control {
    @include size($cube-control-size);
    display: block;
    margin: ($cube-control-size + 10px) 0 $cube-control-size ($cube-control-size - 10px);
    position: relative;

    &__handle {
      opacity: 0;
      transition: opacity .3s ease;
      pointer-events: none;

      &--visible {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &__rotate-up {
      @include position(absolute, null null calc(100% + 5px) null);
    }

    &__rotate-right {
      @include position(absolute, 0 null null calc(100% + 5px));
    }

    &__rotate-down {
      @include position(absolute, calc(100% + 5px) null null null);
    }

    &__rotate-left {
      @include position(absolute, 0 calc(100% + 5px) null null);
    }
  }

  .cube {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform .3s ease;
    width: 100%;

    &--moving {
      transition: none;
    }
  }

  .cube-side {
    backface-visibility: hidden;
    position: absolute;
    @include screenAboveTablet {
      @include size($cube-size-desktop);
    }
    @include screenTablet {
      @include size($cube-size-tablet);
    }

    &__intro {
      transform: $intro-rotation translateZ($cube-size-mobile / 2);

      @include screenTablet {
        transform: $intro-rotation translateZ($cube-size-tablet / 2);
      }
      @include screenAboveTablet {
        transform: $intro-rotation translateZ($cube-size-desktop / 2);
      }
    }

    &__description {
      transform: $description-rotation translateZ($cube-size-mobile / 2);

      @include screenTablet {
        transform: $description-rotation translateZ($cube-size-tablet / 2);
      }
      @include screenAboveTablet {
        transform: $description-rotation translateZ($cube-size-desktop / 2);
      }
    }

    &__skillset {
      transform: $skillset-rotation translateZ($cube-size-mobile / 2);
      text-align: center;

      @include screenTablet {
        transform: $skillset-rotation translateZ($cube-size-tablet / 2);
      }
      @include screenAboveTablet {
        transform: $skillset-rotation translateZ($cube-size-desktop / 2);
      }
    }

    &__works {
      transform: $works-rotation translateZ($cube-size-mobile / 2);
      text-align: center;

      @include screenTablet {
        transform: $works-rotation translateZ($cube-size-tablet / 2);
      }
      @include screenAboveTablet {
        transform: $works-rotation translateZ($cube-size-desktop / 2);
      }
    }

    &__contact {
      transform: $contact-rotation translateZ($cube-size-mobile / 2);
      text-align: center;

      @include screenTablet {
        transform: $contact-rotation translateZ($cube-size-tablet / 2);
      }
      @include screenAboveTablet {
        transform: $contact-rotation translateZ($cube-size-desktop / 2);
      }
    }

    &__nothing {
      transform: $nothing-rotation translateZ($cube-size-mobile / 2);
      display: flex;
      text-align: center;

      @include screenTablet {
        transform: $nothing-rotation translateZ($cube-size-tablet / 2);
      }
      @include screenAboveTablet {
        transform: $nothing-rotation translateZ($cube-size-desktop / 2);
      }
    }
  }
}
