<nav class="main-nav-mobile">
  <ul class="main-nav-mobile__list">
    <li class="main-nav-mobile__list-item">
      <a class="nav-item" routerLink="/" (click)="sidenav.close()" md-button>
        <md-icon>home</md-icon> Home
      </a>
    </li>
    <li class="main-nav-mobile__list-item">
      <a class="nav-item" routerLink="/works" (click)="sidenav.close()" md-button>
        <md-icon>work</md-icon> Works
      </a>
    </li>
    <li class="main-nav-mobile__list-item">
      <a class="nav-item" routerLink="/skills" (click)="sidenav.close()" md-button>
        <md-icon>format_align_left</md-icon> Skills
      </a>
    </li>
    <li class="main-nav-mobile__list-item">
      <a class="nav-item" routerLink="/contact" (click)="sidenav.close()" md-button>
        <md-icon>message</md-icon> Contact
      </a>
    </li>
  </ul>
</nav>