<nav class="main-nav-mobile">
  <ul class="main-nav-mobile__list">
    <li class="main-nav-mobile__list-item">
      <a class="nav-item" routerLink="/" (click)="sidenav.close()" mat-button>
        <mat-icon>home</mat-icon> Home
      </a>
    </li>
    <li class="main-nav-mobile__list-item">
      <a class="nav-item" routerLink="/works" (click)="sidenav.close()" mat-button>
        <mat-icon>work</mat-icon> Works
      </a>
    </li>
    <li class="main-nav-mobile__list-item">
      <a class="nav-item" routerLink="/skills" (click)="sidenav.close()" mat-button>
        <mat-icon>format_align_left</mat-icon> Skills
      </a>
    </li>
    <li class="main-nav-mobile__list-item">
      <a class="nav-item" routerLink="/contact" (click)="sidenav.close()" mat-button>
        <mat-icon>message</mat-icon> Contact
      </a>
    </li>
  </ul>
</nav>