<nav class="main-nav">
  <button class="main-nav__toggle" (click)="sidenav.toggle()" md-button><mat-icon>menu</mat-icon></button>

  <a class="nav-item" routerLink="/" md-button><mat-icon>home</mat-icon> Home</a>
  <a class="nav-item" routerLink="/works" md-button><mat-icon>work</mat-icon> Works</a>
  <a class="nav-item" routerLink="/skills" md-button><mat-icon>format_align_left</mat-icon> Skills</a>
  <a class="nav-item" routerLink="/contact" md-button><mat-icon>message</mat-icon> Contact</a>
</nav>