<nav class="main-nav">
  <button class="main-nav__toggle" (click)="toggleSidenav()" mat-button><mat-icon>menu</mat-icon></button>

  <a class="nav-item" routerLink="/" mat-button><mat-icon>home</mat-icon> Home</a>
  <a class="nav-item" routerLink="/works" mat-button><mat-icon>work</mat-icon> Works</a>
  <a class="nav-item" routerLink="/skills" mat-button><mat-icon>format_align_left</mat-icon> Skills</a>
  <a class="nav-item" routerLink="/contact" mat-button><mat-icon>message</mat-icon> Contact</a>
</nav>